/* Font  

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*/

/* couleur */

:root {
    --color-pink: #DC9F96;
    --color-red: #C02E44;
    --color-pink-bg: #ECE2DA;
    --color-green: #3B8E46;
    --color-pink-txt: #D2776A;

}

body{
   font-family: 'Syne', sans-serif;
   margin: 0;
   display: flex;
   flex-direction: column;
   width: 100%;
   box-sizing: border-box;
}

/* Header */

header{
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    background: white;
    width: 100%;
}

ul, li{
    list-style-type: none;
  }

nav {
    display: flex;
    flex-direction: row;
}

nav :nth-child(2){ 
    order: 3; 
}

header #menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 80px;
    flex-shrink: 0;
    background: white;
    text-decoration: none;
    color: black;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
}

header #menu a:hover{
    text-decoration: none;
    color: black;
    font-family: Syne;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

header #menu .btn_commander a{
    background: var(--color-pink);
    font-size: 16px;
    font-weight: 400;
    font-family: Syne;
    color: white;
}


header #menu .btn_commander a:hover{
    background: var(--color-red);
}


header .logo a:hover{
    background: none;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-left: 37px;
}

/* footer */

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: white;
}

footer a{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

footer a:hover{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* main */

.post-13{
    background: white;
}

.post-13 .hero-container{
    padding-top: 80px;
    background-color: var(--color-pink-bg);
}

.post-13 .ellipse-planty{
    height:100px;
    width:100%;
    background-color: var(--color-pink-bg);
    border-radius: 0 0 60% 60%;
    box-shadow: 0 10px 0 #e3d9d0;
  }

.post-13 .hero-container img{
    margin-top: 80px;
    margin-bottom: 50px;
}

.post-13 .container-energy{
    height: 385px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 90px;
}

.post-13 .container-energy p{
    width: 500px;
    padding: 30px;
}

.post-13 .container-gouts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: var(--color-pink-bg);
}

.post-13 .container-gouts h3{
    padding-top:60px;
    padding-bottom: 10px;
}

.post-13 .container-gouts p{
    padding-bottom: 48px;
}

.post-13 .container-saveur{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
    max-width: 850px!important;
}

.post-13 .container-button{
    padding-top : 50px;
    padding-bottom: 15px;
    width: 100%;
}

.post-13 .container-button a{
    display: flex;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E0B9B4;
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}

.post-13 .ellipse-gouts{
    height:20px;
    width:100%;
    background-color: var(--color-pink-bg);
    border-radius: 0 0 60% 60%;
  }

  .post-13 .button a{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 198px;
    height: 55px;
} 

.post-13 .container-testimonial{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 80px;
}

.post-13 .container-testimonial h3{
    padding-top:100px;
    padding-bottom: 80px;
}

/* backgroung canette */

.canette {
    background-image: url(http://planty.local/wp-content/uploads/2023/12/Group-8-e1704024441847.png);
    background-repeat: repeat-x;
    height: 161px;
    background-color: white;
    background-position-y: bottom;
}

.post-15 .canette {
    background-color: var(--color-pink-bg);
}

/* nous rencontrer */

.post-15{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.post-15 .container-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px;
    background: var(--color-pink-bg);
    position: relative;
}

.post-15 .fleur{
    position: absolute;
    top:71px;
    left: 10%;
    z-index: 0;
}

.post-15 .container-hero p{
    max-width: 700px;
}

.post-15 .container-hero h2{
    padding-top: 186px;
    z-index: 1;
}

.post-15 .ellipse{
    height:100px;
    width:100%;
    background-color: var(--color-pink-bg);
    border-radius: 0 0 80% 40%;
  }

.post-15 .container-team{
    position: relative;
    Background-color:white;
    height: 450px;
    padding-top: 20px;
}

.post-15 .feuille{
    position: absolute;
    bottom: 0%; 
    left: 80%;
    z-index: 1;
}

.post-15 .container-acf{
    display:flex;
    justify-content: space-evenly;
    margin: 0px;
    width: 900px;
}

/* form nous-rencontrer */

.post-15 .feuille2{
    position: relative;
    top: -250px; 
    left: 31%;
    z-index: 1;
    height: 0px;
}

.post-15 .form-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-pink-bg);
}

.post-15 .your-name,.your-email{
    width: 383px;
    height: 71px;
    flex-shrink: 0;
    border: 0px;
    border-radius: 7px!important;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
    margin-top: 13px;
}

.post-15 .your-message{
    width: 383px;
    height: 237px;
    flex-shrink: 0;
    border: 0px;
    border-radius: 7px!important;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
    margin-top: 13px;
    z-index: 2;
    position:sticky;
}

.post-15 .form-contact h3{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 66px;
    margin-bottom:45px;
}

.post-15 .form-contact p{
    margin:22px;
}

.post-15 .btn-envoyer{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.post-15 .btn-envoyer p{
    margin:0px;
}

.post-15 .btn-envoyer .envoyer{
    margin:0px;
    margin-bottom: 50px;
}

.post-15 .envoyer{
    display: flex;
    width: 198px;
    height: 55px;
    padding: 9px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px!important;
    border: 0px;
    background: #E0B9B4;
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}

/* page commander */

.post-17 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--color-green);
}

.post-17 h2{
    max-width: 860px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid white;
}

.post-17 h3{
    max-width: 860px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    color: #FFF;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.post-17 .container-img{
    display: flex;
    justify-content: space-between;
    max-width: 860px;
}

/* form commander */

.form-commander{
    max-width: 860px;
    padding-bottom: 100px;
}

.form-commander p{
    margin:0px;
    padding:0px;
}

.form-commander .container-quantity{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.form-commander .container-quantity p{
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-commander .container-quantity .quantity{
    width: 192px;
}

.form-commander .container-quantity input{
    display: flex;
    justify-content: center;
    width: 39px;
    height: 56px;
    flex-shrink: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border:0px;
    text-align: center;
    margin-top:16px;
    margin-bottom: 39px;
}

.form-commander .form-txt{
    display:flex;
    flex-direction: row;
    margin-top:55px;
}

.form-commander .information{
    width: 50%;
    border-right: 1px solid white;
    padding-right: 50px;
}

.form-commander .livraison{
    width: 50%;
    padding-left: 50px;
}

.form-commander h3{
    padding-top: 0px;
    padding-bottom: 30px;
}

.form-commander p{
    color: #FFF;
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-commander .form-txt input{
    width: 100%;
    height: 71px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
    border: 0px;
    margin-top: 13px;
    margin-bottom: 30px;
}

.form-commander .form-txt .no-margin{
    margin-bottom: 0px;
}

.form-commander .btn-envoyer{
    display:flex;
    justify-content: center;
}

.form-commander .btn-commander{
    display: flex;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px;
    background: #E0B9B4;
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 44px;
}